main{
    margin: auto;
    text-align: center;
    width: 27%;
    
}
.row{
    display: grid;
    background-color: aqua;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
        
}
form>input{
    margin: 10px;
}
@media screen and (max-width: 600px){
    main{
        width: 70%;
    }
    .row{
        grid-template-columns: 1fr;
        text-align: start;
        padding-left: 12px;
    }
    
}